<header></header>

<ion-content>
  <section class="content">
    <section class="block">
      <div class="container">
        <div class="row title">
          <div class="ttl d-flex align-items-center">
            <h1>Accounts</h1>
          </div>
        </div>
        <div class="row items">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="item">
              <div class="wrapper text-center">
                <div class="meta">
                  <figure>
                    <a href="javascript:void(0);" (click)="navBills()">
                      Generated Bills
                    </a>
                  </figure>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="wrapper text-center">
                <div class="meta">
                  <figure>
                    <a href="javascript:void(0);" (click)="navPayments()">
                      Payments
                    </a>
                  </figure>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="wrapper text-center">
                <div class="meta">
                  <figure>
                    <a href="javascript:void(0);" (click)="navOsDues()">
                      Outstanding Dues
                    </a>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</ion-content>