.d-flex {
  display: flex;
  flex-wrap: nowrap;
}

.item {
  max-height: 550px;
  float: none;
}

.notifcn {
  position: absolute;
  z-index: 999;
  top: 6%;
  right: 5%;
  background-color: #ff0000;
  color: #fff;
  padding: 2.5px 9px;
  border-radius: 25px;
}

.p15 {
  padding: 15px;
}

.items:not(.selectize-input) .item .image {
  height: 16rem;
}

.items:not(.selectize-input) .item h3 {
  bottom: 1rem !important;
}

.items:not(.selectize-input) .item .meta {
  white-space: unset;
  margin-top: unset;
}

.items:not(.selectize-input) .item .meta figure {
  opacity: unset;
  margin: unset !important;
  font-size: 15px;
}

.items:not(.selectize-input) .item .meta::before {
  content: unset;
  display: none;
}

.items:not(.selectize-input) .item .image {
  height: auto !important;
}

/* Tooltip container */
._tooltip {
  position: relative;
  // display: inline-block;
}

/* Tooltip text */
._tooltip ._tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px 3px;
  border-radius: 6px;
  bottom: 130%;
  left: 50%;
  margin-left: -100px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  font-size: 12px;
}

._tooltip ._tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: 35px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
._tooltip:hover ._tooltiptext {
  visibility: visible;
}

