<ion-header id="ion-head-navbar" class="hero hbg"
  [ngStyle]="{'background-image': userInfo.ProfileImg != null && userInfo.ProfileImg != '' ? 'url(' + rootPath + userInfo.ProfileImg + ')' : 'url('+ 'src/assets/img/hero-background-image-01.jpg' +')'}">
  <div class="hero-wrapper">
    <!--============ Secondary Navigation ===============================================================-->
    <div class="secondary-navigation">
      <div class="container">
        <ul class="left">
          <li *ngIf="router.url !== '/index'" (click)="back()">
            <a href="javascript:void(0);">
              <i class="fa fa-chevron-left"></i>Back
            </a>
          </li>
        </ul>
        <!--end left-->
        <ul class="right">
          <li *ngIf="!isLogged">
            <a href="javascript:void(0);" (click)="navLogin()">
              <i class="fa fa-sign-in"></i>Login
            </a>
          </li>
          <li *ngIf="!isLogged">
            <a href="javascript:void(0);" (click)="navSocRegister()">
              <i class="fa fa-pencil-square-o"></i>Register
            </a>
          </li>
          <li *ngIf="isLogged">
            <a href="javascript:void(0);">
              Hi, {{userInfo.FullName}}
            </a>
          </li>
          <li *ngIf="isLogged">
            <a href="javascript:void(0);">
              {{userInfo.RoleName}}
            </a>
          </li>
          <li *ngIf="isLogged">
            <a href="javascript:void(0);" (click)="navProfile()">
              <i class="fa fa-user"></i>My Profile
            </a>
          </li>
        </ul>
        <!--end right-->
      </div>
      <!--end container-->
    </div>
    <!--============ End Secondary Navigation ===========================================================-->
    <!--============ Main Navigation ====================================================================-->
    <div class="main-navigation">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
          <a class="navbar-brand" href="javascript:void(0);" (click)="navHome()">
            <img src="assets/img/logo.png" alt="">
          </a>
          <ion-buttons slot="end" class="ml-auto">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <div class="collapse navbar-collapse" id="navbar">
            <!--Main navigation list-->
            <ul class="navbar-nav">
              <li class="nav-item active has-child">
                <a class="nav-link" href="javascript:void(0);">Home</a>
                <ul class="child">
                  <li class="nav-item">
                    <a href="javascript:void(0);" (click)="navHome()" class="nav-link">Home 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-child">
                <a class="nav-link" href="javascript:void(0);">Listing</a>
                <!-- 1st level -->
                <ul class="child">
                  <li class="nav-item has-child">
                    <a href="javascript:void(0);" class="nav-link">Grid</a>
                    <!-- 2nd level -->
                    <ul class="child">
                      <li class="nav-item">
                        <a href="listing-grid-full-width.html" class="nav-link">Full Width</a>
                      </li>
                      <li class="nav-item">
                        <a href="listing-grid-sidebar.html" class="nav-link">With Sidebar</a>
                      </li>
                      <li class="nav-item">
                        <a href="listing-grid-compact-sidebar.html" class="nav-link">Compact
                          With Sidebar</a>
                      </li>
                      <li class="nav-item">
                        <a href="listing-grid-compact-full-width.html" class="nav-link">Compact
                          Full Width</a>
                      </li>
                    </ul>
                    <!-- end 2nd level -->
                  </li>
                  <li class="nav-item has-child">
                    <a href="javascript:void(0);" class="nav-link">List</a>
                    <!-- 2nd level -->
                    <ul class="child">
                      <li class="nav-item">
                        <a href="listing-list-full-width.html" class="nav-link">Full Width</a>
                      </li>
                      <li class="nav-item">
                        <a href="listing-list-sidebar.html" class="nav-link">With Sidebar</a>
                      </li>
                      <li class="nav-item">
                        <a href="listing-list-compact-sidebar.html" class="nav-link">Compact
                          With Sidebar</a>
                      </li>
                      <li class="nav-item">
                        <a href="listing-list-compact-full-width.html" class="nav-link">Compact
                          Full Width</a>
                      </li>
                    </ul>
                    <!-- end 2nd level -->
                  </li>
                  <li class="nav-item has-child">
                    <a href="javascript:void(0);" class="nav-link">Masonry</a>
                    <!-- 2nd level -->
                    <ul class="child">
                      <li class="nav-item">
                        <a href="listing-masonry-full-width.html" class="nav-link">Full
                          Width</a>
                      </li>
                      <li class="nav-item">
                        <a href="listing-masonry-sidebar.html" class="nav-link">With Sidebar</a>
                      </li>
                    </ul>
                    <!-- end 2nd level -->
                  </li>
                  <li class="nav-item has-child">
                    <a href="javascript:void(0);" class="nav-link">Single</a>
                    <!-- 2nd level -->
                    <ul class="child">
                      <li class="nav-item">
                        <a href="single-listing-1.html" class="nav-link">Single 1</a>
                      </li>
                      <li class="nav-item">
                        <a href="single-listing-2.html" class="nav-link">Single 2</a>
                      </li>
                      <li class="nav-item">
                        <a href="single-listing-3.html" class="nav-link">Single 3</a>
                      </li>
                    </ul>
                    <!-- end 2nd level -->
                  </li>
                </ul>
                <!-- end 1st level -->
              </li>
              <li class="nav-item has-child">
                <a class="nav-link" href="javascript:void(0);">Pages</a>
                <!-- 2nd level -->
                <ul class="child">
                  <li class="nav-item">
                    <a href="sellers.html" class="nav-link">Sellers</a>
                  </li>
                  <li class="nav-item has-child">
                    <a href="javascript:void(0);" class="nav-link">Seller Detail</a>
                    <!-- 3rd level -->
                    <ul class="child">
                      <li class="nav-item">
                        <a href="seller-detail-1.html" class="nav-link">Seller Detail
                          1</a>
                      </li>
                      <li class="nav-item">
                        <a href="seller-detail-2.html" class="nav-link">Seller Detail
                          2</a>
                      </li>
                    </ul>
                    <!-- end 3rd level -->
                  </li>
                  <li class="nav-item">
                    <a href="blog.html" class="nav-link">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a href="blog-post.html" class="nav-link">Blog Post</a>
                  </li>
                  <li class="nav-item ad">
                    <a href="submit.html" class="nav-link">Submit Ad</a>
                  </li>
                  <li class="nav-item">
                    <a href="pricing.html" class="nav-link">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a href="faq.html" class="nav-link">FAQ</a>
                  </li>
                </ul>
                <!-- end 2nd level -->
              </li>
              <li class="nav-item has-child">
                <a class="nav-link" href="javascript:void(0);">Extras</a>
                <!--1st level -->
                <ul class="child">
                  <li class="nav-item has-child">
                    <a href="javascript:void(0);" class="nav-link">Grid Variants</a>
                    <ul class="child">
                      <li class="nav-item">
                        <a href="listing-grid-4-items.html" class="nav-link">4 Items</a>
                      </li>
                      <li class="nav-item">
                        <a href="listing-grid-3-items.html" class="nav-link">3 Items</a>
                      </li>
                      <li class="nav-item">
                        <a href="listing-grid-2-items.html" class="nav-link">2 Items</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item has-child">
                    <a href="javascript:void(0);" class="nav-link">User Panel</a>
                    <ul class="child">
                      <li class="nav-item">
                        <a href="my-profile.html" class="nav-link">My Profile</a>
                      </li>
                      <li class="nav-item">
                        <a href="my-ads.html" class="nav-link">My Ads</a>
                      </li>
                      <li class="nav-item">
                        <a href="change-password.html" class="nav-link">Change
                          Password</a>
                      </li>
                      <li class="nav-item">
                        <a href="sign-in.html" class="nav-link">Sign In</a>
                      </li>
                      <li class="nav-item">
                        <a href="register.html" class="nav-link">Register</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="elements.html" class="nav-link">Elements</a>
                  </li>
                  <li class="nav-item">
                    <a href="typography.html" class="nav-link">Typography</a>
                  </li>
                  <li class="nav-item has-child">
                    <a href="javascript:void(0);" class="nav-link">Nested Navigation</a>
                    <!--2nd level -->
                    <ul class="child">
                      <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">Level 2</a>
                      </li>
                      <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">Level 2</a>
                      </li>
                      <li class="nav-item has-child">
                        <a href="javascript:void(0);" class="nav-link">Level 2</a>
                        <!--3rd level -->
                        <ul class="child">
                          <li class="nav-item has-child">
                            <a href="javascript:void(0);" class="nav-link">Level 3</a>
                            <!--4th level -->
                            <ul class="child">
                              <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">Level 4</a>
                              </li>
                              <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">Level 4</a>
                              </li>
                              <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">Level 4</a>
                              </li>
                            </ul>
                            <!-- end 4th level-->
                          </li>
                          <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">Level 3</a>
                          </li>
                          <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">Level 3</a>
                          </li>
                        </ul>
                        <!--end 3rd level-->
                      </li>
                    </ul>
                    <!-- end 2nd level -->
                  </li>
                  <li class="nav-item">
                    <a href="image-header.html" class="nav-link">Image Header</a>
                  </li>
                  <li class="nav-item">
                    <a href="messaging.html" class="nav-link">Messages</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="nav-item">
                <a href="submit.html" class="btn btn-primary text-caps btn-rounded btn-framed">Submit
                  Ad</a>
              </li>
            </ul>
            <!--Main navigation list-->
          </div>
          <!--end navbar-collapse-->
        </nav>
        <!--end navbar-->
      </div>
      <!--end container-->
    </div>
    <!--============ End Main Navigation ================================================================-->
    <div class="img-btn">
      <button class="btn btn-primary">
        <span><i class="fa fa-camera"></i></span>
        <input type="file" id="imgUpload" (change)="onFileChange($event.target.files)">
      </button>
    </div>
    <!--============ Page Title =========================================================================-->
    <!-- <div class="page-title">
      <div class="container">
        <h1 class="opacity-70 center">
          {{title}}
        </h1>
      </div>
    </div> -->
    <!--end container-->
    <!--============ End Page Title =====================================================================-->
    <div *ngIf="!hideSearch" class="background">
      <div class="background-image original-size">
        <img src="assets/img/hero-background-icons.jpg" alt="">
      </div>
      <!--end background-image-->
    </div>
    <!--end background-->
  </div>
  <!--end hero-wrapper-->
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scrollEv($event)">
  <section class="content">
    <section class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <nav class="nav flex-column side-nav">
              <a class="nav-link active icon" href="javascript:void(0);" (click)="myProfile()">
                <i class="fa fa-user"></i>My Profile
              </a>
              <!-- <a class="nav-link active icon" href="javascript:void(0);" (click)="members()">
                <i class="fa fa-users"></i>Members
              </a> -->
            </nav>
          </div>
          <!--end col-md-3-->
          <div class="col-md-9">
            <section class="members">
              <div class="user" *ngIf="!addMbr && userInfo !== null">
                <div class="row items p15">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="item">
                      <div class="wrapper">
                        <div class="image">
                          <h3 *ngIf="userInfo.MemberType === 4">
                            <a href="javascript:void(0);" class="tag category">{{userInfo.RoleName}}</a>
                          </h3>
                          <a href="javascript:void(0);" class="image-wrapper">
                            <img src="assets/img/image-01.jpg" alt="">
                          </a>
                        </div>
                        <!--end image-->
                        <div class="meta">
                          <figure>
                            <a href="javascript:void(0);">
                              <i class="fa fa-user"></i>{{userInfo.FullName}}
                            </a>
                          </figure>
                        </div>
                        <!--end meta-->


                      </div>
                    </div>
                    <!--end item-->
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <a href="javascript:void(0);" class="item call-to-action" (click)="addMember()">
                      <div class="wrapper">
                        <div class="title">
                          <i class="fa fa-plus-square-o"></i>
                          Add Member
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="members" *ngIf="!addMbr && hasMembers">
                <div class="row items p15">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-6" *ngFor="let m of members">
                    <div class="item">
                      <div class="wrapper">
                        <div class="image">
                          <a href="javascript:void(0);" class="image-wrapper">
                            <img src="assets/img/image-01.jpg" alt="">
                          </a>
                        </div>
                        <!--end image-->
                        <div class="meta">
                          <figure>
                            <a href="javascript:void(0);">
                              <i class="fa fa-user"></i>{{m.FullName}}
                            </a>
                          </figure>
                        </div>
                        <!--end meta-->


                      </div>
                    </div>
                    <!--end item-->
                  </div>
                </div>
              </div>

              <div class="add-member" *ngIf="addMbr">
                <form [formGroup]="addMmbrFormGrp" validate>
                  <div class="row">
                    <div class="col-md-8">
                      <h2>Add Member</h2>
                      <section>
                        <div class="form-group">
                          <label for="title" class="col-form-label">Owner</label>
                          <select id="title" data-placeholder="Title">
                            <option value="">{{userInfo.FullName}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="name" class="col-form-label required">Name</label>
                          <input formControlName="name" type="text" class="form-control" id="name"
                            placeholder="Your Name..." required="">
                        </div>
                        <div class="form-group">
                          <label for="relation" class="col-form-label required">Relation</label>
                          <input formControlName="relation" type="text" class="form-control" id="relation"
                            placeholder="Relation..." required="">
                        </div>
                        <div class="form-group">
                          <label for="username" class="col-form-label required">User Name</label>
                          <input formControlName="username" type="text" class="form-control" id="username"
                            placeholder="user_name..." required="">
                        </div>
                        <div class="form-group">
                          <label for="emailID" class="col-form-label">Email ID</label>
                          <input formControlName="emailID" type="text" class="form-control" id="emailID"
                            placeholder="Email ID...">
                        </div>
                        <div class="form-group">
                          <label id="lbl-phone" for="phone" class="col-form-label">Phone #</label>
                          <input formControlName="phone" type="text" (keypress)="numberOnly($event)" maxlength="10"
                            class="form-control" id="phone" placeholder="Phone #...">
                        </div>
                      </section>
                      <section class="clearfix">
                        <button type="submit" class="btn btn-primary float-right" (click)="add()">Add Member</button>
                      </section>
                    </div>
                    <div class="col-md-4">
                      <section class="clearfix">
                        <button type="submit" class="btn btn-primary float-right" (click)="cancel()">
                          <i class="fa fa-times"></i> Cancel
                        </button>
                      </section>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </section>
    <!--end block-->
  </section>
</ion-content>