<header></header>

<ion-content>
  <section class="content">
    <section class="block">
      <div class="container">
        <div class="row title">
          <div class="ttl d-flex align-items-center">
            <h1>Notification</h1>
          </div>
        </div>
        <div class="row items">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="isLoaded">
            <div class="item">
              <div class="wrapper text-center">
                <div class="meta">
                  <figure>
                    <a href="javascript:void(0);" (click)="navNotfnDetails(1)" class="d-flex w100">
                      Type 1 - ({{getNtfnCount(1)}})
                      <div class="ml-auto"><span><i class="fa fa-chevron-right"></i></span></div>
                    </a>
                  </figure>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="wrapper text-center">
                <div class="meta">
                  <figure>
                    <a href="javascript:void(0);" (click)="navNotfnDetails(2)" class="d-flex w100">
                      Type 2 - ({{getNtfnCount(2)}})
                      <div class="ml-auto"><span><i class="fa fa-chevron-right"></i></span></div>
                    </a>
                  </figure>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="wrapper text-center">
                <div class="meta">
                  <figure>
                    <a href="javascript:void(0);" (click)="navNotfnDetails(3)" class="d-flex w100">
                      Type 3 - ({{getNtfnCount(3)}})
                      <div class="ml-auto"><span><i class="fa fa-chevron-right"></i></span></div>
                    </a>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="!isLoaded">
            <div class="item">
              <div class="wrapper text-center">
                <div class="meta">
                  <figure>
                    <a href="javascript:void(0);" (click)="navBills()" class="d-flex w100 skltn">
                    </a>
                  </figure>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="wrapper text-center">
                <div class="meta">
                  <figure>
                    <a href="javascript:void(0);" (click)="navBills()" class="d-flex w100 skltn">
                    </a>
                  </figure>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="wrapper text-center">
                <div class="meta">
                  <figure>
                    <a href="javascript:void(0);" (click)="navBills()" class="d-flex w100 skltn">
                    </a>
                  </figure>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="wrapper text-center">
                <div class="meta">
                  <figure>
                    <a href="javascript:void(0);" (click)="navBills()" class="d-flex w100 skltn">
                    </a>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</ion-content>